Source: gdd-system
Section: tasks
Priority: optional
Maintainer: Grégory DAVID <gregory.david@p1sec.com>
Build-Depends:
  debhelper (>= 10),
  git (>= 2.11.0),
Standards-Version: 4.5.0
Homepage: https://github.com/p1-gdd/gdd-system
Vcs-Git: https://github.com/p1-gdd/gdd-system.git
Vcs-Browser: https://github.com/p1-gdd/gdd-system.git


Package: gdd-system-base
Architecture: all
Depends: ${misc:Depends},
  acl,
  apt-listbugs,
  arandr,
  audacity,
  audiotools,
  autojump,
  blueman,
  bluetooth,
  brightnessctl,
  calendar,
  chromium,
  clusterssh,
  curl,
  docker-compose,
  docker.io,
  dunst,
  e2fsprogs,
  emacs-nox,
  firefox,
  fonts-font-awesome,
  fonts-fork-awesome,
  fonts-noto-color-emoji,
  fonts-recommended,
  fzf,
  git,
  git-buildpackage,
  git-man,
  gparted,
  gpg,
  htop,
  i3,
  i3-wm,
  i3blocks,
  i3lock,
  impressive,
  inxi,
  ipython3,
  jq,
  kitty,
  less,
  libspa-0.2-bluetooth,
  linux-cpupower,
  multitail,
  nautilus,
  ncdu,
  pandoc,
  pinentry-curses,
  plymouth,
  powertop,
  ranger,
  rsync,
  screenfetch,
  screenkey,
  silversearcher-ag,
  slop,
  sshpass,
  sudo,
  task-ssh-server,
  thunderbird,
  tig,
  timg,
  tree,
  udisks2,
  unzip,
  xclip,
  xinit,
  zathura,
  zsh,
  zsh-doc,
Description: Base dependency package to gdd toolbox
 Base dependency for the minimal system requirements.


Package: gdd-system-network
Architecture: all
Depends: ${misc:Depends}, gdd-system-base,
  arping,
  iptraf-ng,
  kazam,
  netcat,
  nmap,
  speedtest-cli,
  tcpdump,
  tcpreplay,
  wireshark,
Description: Network dependency package to gdd toolbox
 Base dependency for development requirements.


Package: gdd-system-development
Architecture: all
Depends: ${misc:Depends}, gdd-system-base,
  autoconf,
  autoconf-archive,
  autoconf-doc,
  automake,
  bless,
  build-essential,
  clangd,
  colordiff,
  cowbuilder,
  cowdancer,
  cppcheck,
  cppreference-doc-en-html,
  cxxtest,
  devhelp,
  docker-compose,
  docker.io,
  doxygen,
  emacs-nox,
  filezilla,
  flake8 | ruff,
  g++,
  gcc,
  gcc-doc,
  gdb,
  gdb-doc,
  git,
  hexedit,
  htop,
  inxi,
  ipython3,
  isort,
  less,
  lsof,
  ltrace,
  make,
  markdown,
  meld,
  npm,
  pbuilder,
  pkg-config,
  plantuml,
  python3-pip,
  python3-pylsp,
  python3-pylsp-black,
  python3-pylsp-isort,
  rsync,
  strace,
  sudo,
  tmate,
  tmux,
  tree,
  unzip,
  valgrind,
  xorriso,
  xxd,
Description: Development dependency package to gdd toolbox
 Base dependency for development requirements.


Package: gdd-system-multimedia
Architecture: all
Depends: ${misc:Depends}, gdd-system-base,
  abcde,
  alsa-utils,
  audacity,
  audiotools,
  cmus,
  eyed3,
  ffmpeg,
  flac,
  flactag,
  gimp,
  graphviz,
  id3v2,
  imagemagick,
  inkscape,
  kazam,
  lame,
  maim,
  mpv,
  pulsemixer,
  qimgv,
  qpwgraph,
  scribus,
  sox,
  vorbis-tools,
  vorbisgain,
  xsane,
Description: Multimedia dependency package to gdd toolbox
 Multimedia dependencies.
